<div class="container-fluid text-left">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">What type of jersey we have?</a><hr>
      <ul><li>Apex</li>
      <li>Performance</li>
      <li>Tech</li></p>
    </div>
