.container {
  padding-right: auto;
  padding-left: auto;
}

.jumbotron {
  background: #f0f0f5;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
}
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: black;
    font-size: 1.5em;
    margin: 0em auto 0em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

      .center {
          margin: auto;
          width: 80%;
          border: 1px solid #cccccc;
          padding: 10px;
      }

    }
