<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron">
      <div class="container text-center">
          <h1>Cyclone Cycling Club</h1><h2>飆風車會</h2>
          <h3>會員申請表  2017-2018<br>私隱條例聲明</h3>
      </div><hr>
    <div class="center">
    <p>飆風車會收集的所有個人資料只用以令服務達致更高的效率，所有會員資料只供飆風車會內部使用。閣下的個人資料不會被用作本車會的巿場推廣活動及計劃內。
      閣下所提供的所有資料必須屬實及絕對保密。條例亦列明閣下有權要求認飆風車會是否持有閣下的個人資料或要求取得其影印本。</p>
    </div>
      <div class="container text-center">
        <a href="/renewal" role="button"><button type="button" class="btn-primary btn h2 lightBlue get-Started-btn">AGREE</button></a><br>
        <hr>

      </div>
    </div>
</body>
</html>
