<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>


  <div class="container">
    <div class="jumbotron">
      <h2>飆風車會 Cyclone Cycling Club</h2>
      <p>會員申請表  2017-2018<br>個人資料及私人條例</p>
    </div>
    <p style='font-size:20px; padding:0px 50px 100px 50px'>飆風車會收集的所有個人資料只用以令服務達致更高的效率，所有會員資料只供飆風車會內部使用。閣下的個人資料不會被用作本車會的巿場推廣活動及計劃內。
      閣下所提供的所有資料必須屬實及絕對保密。條例亦列明閣下有權要求認飆風車會是否持有閣下的個人資料或要求取得其影印本。</p>
      <a href="/renewal" class="btn btn-info" role="button"><button type="button" class="btn btn-primary">Next</button></a></div>

  </div>


    <div class="text-center">
            <br><br><br><br><br><br><br><br><br>
    </div>



</body>
</html>
