<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/left-sidebar.ejs %>

    <div class="col-sm-8 text-left">
      <form action="/payment" method="post" class="form-horizontal">
        <h1>飆風車會 Cyclone Cycling Club </h1>
        <h3>會員申請表  2017-2018<br>
        Renewal Program 2017-2018</h3>
        <p>Must fill all the blanks</p>

        <div class="form-group">
          <label class="control-label col-sm-2" for="email">電郵 Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" placeholder="Enter email" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">密碼 Password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="pwd" placeholder="Enter password" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="chinesename">中文名 Chinese Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="chinesename" placeholder="中文名" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="englishname">英文名 English Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="englishname" placeholder="Enter English Name" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="gender">性別 Gender:</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="gender" value="M" checked>Male 男</label>
            <label class="radio-inline"><input type="radio" name="gender" value="F">Female 女</label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="dob">出生日期 Date of Birth:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="dob" placeholder="MM/DD/YYYY" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="mobile">手提電話 Mobile:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="mobile" placeholder="手提電話 Mobile Number" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="hkid">身份證號碼 HKID:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="hkid" placeholder="A123456 (7)" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="address">住宅地址 Home Address:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="address" placeholder="Home Address" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="bibsize">車褲尺碼 Bib Size:</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="bibsize" value="S">S</label>
            <label class="radio-inline"><input type="radio" name="bibsize" value="M" checked>M</label>
            <label class="radio-inline"><input type="radio" name="bibsize" value="L">L</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="jerseysize">車衫尺碼 Jersey Size:</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="jerseysize" value="S">S</label>
            <label class="radio-inline"><input type="radio" name="jerseysize" value="M" checked>M</label>
            <label class="radio-inline"><input type="radio" name="jerseysize" value="L">L</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="socksize">襪尺碼 Sock Size:</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="socksize" value="S">S</label>
            <label class="radio-inline"><input type="radio" name="socksize" value="M" checked>M</label>
            <label class="radio-inline"><input type="radio" name="socksize" value="L">L</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="padtype">車扶墊厚薄 Type of pad:</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="padtype" value="Thick">厚</label>
            <label class="radio-inline"><input type="radio" name="padtype" value="Thin" checked>薄</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="socksize">手套尺碼 Glove Size:</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="glovesize" value="S">S</label>
            <label class="radio-inline"><input type="radio" name="glovesize" value="M" checked>M</label>
            <label class="radio-inline"><input type="radio" name="glovesize" value="L">L</label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="text">
              <label>Membership Fee:  Yearly HKD$ 2,000</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input
                  type="submit"
                  value="信用卡支付"
                  data-key="pk_test_fyhATHUSpJygdOGz5TIzzEIm"
                  data-amount="200000"
                  data-currency="hkd"
                  data-locale="auto"
                  data-name="Cyclone Cycling Club 2017-18"
                  data-description="CCC Basic Member with Apex Jersey Kit"
                  data-description="Sign Me Up! HKD$2000"
              />

              <script src="https://checkout.stripe.com/v2/checkout.js"></script>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
              <script>
              $(document).ready(function() {
                  $(':submit').on('click', function(event) {
                      event.preventDefault();
                      var $button = $(this),
                          $form = $button.parents('form');
                      var opts = $.extend({}, $button.data(), {
                          token: function(result) {
                              $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                          }
                      });
                      StripeCheckout.open(opts);
                  });
              });
              </script>


          </div>
        </div>
      </form>

      <!-- API Key pk_test_E3VZHHnmYPCpStUgdY3IXxJv -->

    </div>

<% include ../partials/right-sidebar.ejs %>
<% include ../partials/footer.ejs %>

</body>
</html>
