<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/left-sidebar.ejs %>

    <div class="col-sm-8 text-center">
       <h1><%= data.firstname %> <%= data.lastname %></h1>
       <h1>Thank you for support Cyclone Cycling.</h1>
       <h2>You will receive a confirmation email at <%= data.email %></h2>
    </div>

<% include ../partials/right-sidebar.ejs %>
<% include ../partials/footer.ejs %>

</body>
</html>
