<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/left-sidebar.ejs %>
  <div class="col-sm-8 text-center">
    <div class="center">
       <h2><%= data.chinesename %></h2><h2><%= data.englishname %></h2>
       <h3>Payment Received. Thank you for support Cyclone Cycling.<br></h3>
       Your data will be process within 1-2 days.</h3>
    </div>
  </div>
  <% include ../partials/right-sidebar.ejs %>
  <% include ../partials/footer.ejs %>
</body>
</html>
